/* CTA2.css */

.CTA2 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cta2Texts {
  text-align: center;
  padding: 2rem 10rem;
  padding-bottom: 3rem;
  color: white;
  background-color: #111111f8;
  width: 100%;
}

.cta2Texts h2 {
  font-size: 2.1rem;
}

.cta2Texts p {
  color: rgb(193, 188, 188);
  font-size: 1.5rem;
}

/* Email Input Section */
.cta2EmailSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cta2EmailSection input {
  width: 100%;
  max-width: 18rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid grey;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
}

.cta2EmailSection input::placeholder {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.6);
}

.cta2EmailSection input:focus {
  outline: none;
  border-color: #fff;
}

.arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .cta2Texts {
    padding: 1.5rem 5rem;
  }
}

@media (max-width: 480px) {
  .cta2Texts {
    padding: 1.5rem 2rem;
  }

  .cta2EmailSection {
    flex-direction: column;
  }

  .cta2EmailSection input {
    width: 100%;
    text-align: center;
  }
}
